---
import { load as fetchStrapiData } from '../api';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Universe API</title>
	</head>
  <body>
    <h1>Universe Test Task</h1>
    <Astro-Layout />
  </body>
</html>
